<!DOCTYPE html>
<html>
  <head>
    <%= erb :head %>
  </head>
  <title>About The Wonderdome</title>
  <body style="padding-top: 50px">

    <%= erb :navbar %>

    <div class="container">
      <div class="about" style="padding:40px 15px">
        <h1>About The Wonderdome</h1>
        <p>The Wonderdome is Playasophy Camp's first major venture into
        LED-based eye candy. It consists of 6 strips of 240 LEDs for a total of
        1440, each of which can be individually controlled in full 24-bit color.</p>
        <p>Other technical components include:</p>
        <ul>
          <li>A PixelPusher (for driving the LED strips)</li>
          <li>A network switch</li>
          <li>A USB NES controller</li>
          <li>A Cubieboard running:
            <ul>
            <li>Ubuntu</li>
            <li>Processing</li>
            <li>Sinatra (simple ruby web server)</li>
            <li>UDP to communicate between ruby and Java processes</li>
            </ul>
          </li>
      </div>
    </div><!-- /.container -->

  </body>
</html>
