<!DOCTYPE html>
<html>
  <title>Wonderdome Administration</title>
  <body>
    <h1>Wonderdome Administration</h1>
    <p>Welcome to the Wonderdome admin page!</p>
    <form action="/admin" method="post">
      <input type="submit" formaction="/admin/pause" value="Pause"/>
      <input type="submit" formaction="/admin/resume" value="Resume"/>
    </form>
  </body>
</html>
