<!DOCTYPE html>
<html>
  <head>
    <script src="/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        $("button").click(function(){
          $.post("/admin",
          {
            button:$(this).attr('name'),
          });
        });
      });
    </script>
  </head>
  <title>Wonderdome Administration</title>
  <body>
    <h1>Wonderdome Administration</h1>
    <p>Welcome to the Wonderdome admin page!</p>
    <button type="button" name="pause">pause</button>
    <button type="button" name="resume">resume</button>
  </body>
</html>
