<!DOCTYPE html>
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script>
      $(document).ready(function(){
        $("button").mousedown(function(){
          $.post("/control",
          {
            button:$(this).attr('name'),
            type:"pressed"
          });
        });
        $("button").mouseup(function(){
          $.post("/control",
          {
            button:$(this).attr('name'),
            type:"released"
          });
        });
      });
    </script>
  </head>
  <title>Wonderdome Controls</title>
  <body>
    <h1>Wonderdome Controls</h1>
    <button type="button" name="up">up</button>
    <button type="button" name="down">down</button>
    <button type="button" name="left">left</button>
    <button type="button" name="right">right</button>
    <button type="button" name="select">select</button>
    <button type="button" name="start">start</button>
    <button type="button" name="a">a</button>
    <button type="button" name="b">b</button>
  </body>
</html>
