<!DOCTYPE html>
<html>
  <title>Wonderdome Controls</title>
  <body>
    <h1>Wonderdome Controls</h1>
    <form action="/control" method="post">
      <input type="submit" formaction="/control/A" value="A"/>
      <input type="submit" formaction="/control/B" value="B"/>
    </form>
  </body>
</html>
