<!DOCTYPE html>
<html>
  <head>
    <%= erb :head %>
    <script>
      $(document).ready(function(){
        $("button").click(function(){
          $.post("/admin",
          {
            action:$(this).attr('name'),
          });
        });
      });
    </script>
  </head>
  <title>Wonderdome Administration</title>
  <body style="padding-top: 50px">

    <%= erb :navbar %>

    <div class="container">
      <div class="admin" style="padding:40px 15px;text-align:center">
        <h1>Wonderdome Administration</h1>
        <button type="button" class="btn btn-default" name="pause">pause</button>
        <button type="button" class="btn btn-default" name="resume">resume</button>
        <button type="button" class="btn btn-danger" name="restart">restart</button>
        <button type="button" class="btn btn-danger" name="terminate">terminate</button>
      </div>
    </div><!-- /.container -->

  </body>
</html>
